---
layout: default
---

<script src="/assets/js/redirects.js"></script>
{% include sections/header.html %}
{% include sections/resources.html %}

<h1 id="sponsors" class="anchor"><a href="#sponsors"><i class="fas fa-link anchor-icon"></i></a> Sponsors</h1>
<div class="mx-4">
  {% include sponsors/gold.html %}
</div>
<div class="alert alert-info mt-5" role="alert">
  당신의 브랜드를 PrivacyTools의 스폰서로 보이고 세상을 감시로부터 자유롭게 하려는 우리의 임무를 지원해주세요!<a href="/sponsors/" class="alert-link"> 자세히 알아보기</a>
</div>

{% include sections/quotes.html %}
{% include sections/privacy-resources.html %}
{% include sections/participate.html %}
