<nav class="fixed-top bg-dark">
  <div id="navbar" class="d-flex flex-wrap justify-content-between align-items-center">
    <div class="w-50">
      <a id="nav-home-mobile" class="nav-anchor" href="/">
        <img src="/assets/img/svg/layout/brand/horizontal.svg" width="150px" />
      </a>
    </div>
    <input type="checkbox" id="nav-toggle" checked />
    <label for="nav-toggle" id="nav-toggle-label" class="fas fa-bars fa-lg"></label>

    <div class="menu w-100">
      <div id="nav-left" class="position-relative flex-col">
        <a class="nav-anchor" href="/">
          <span id="nav-home" class="fas fa-home fa-fw"></span>
        </a>

        <!-- Provider -->
        <details class="nav-details">
          <summary>
            <span class="nav-summary">
              제공 업체
              <span class="dropdown-toggle"></span>
            </span>
          </summary>
          <span class="nav-dropdown">
            <a class="dropdown-item" href="/providers/#ukusa"><span class="fas fa-user-secret fa-fw"></span> 미국, 영국 서비스를 피하세요</a>
            <a class="dropdown-item" href="/providers/cloud-storage/"><span class="fas fa-cloud fa-fw"></span> 클라우드 저장소</a>
            <a class="dropdown-item" href="/providers/dns/"><span class="fa fa-tasks fa-fw"></span> DNS</a>
            <a class="dropdown-item" href="/providers/email/"><span class="fas fa-mail-bulk fa-fw"></span> 전자우편</a>
            <a class="dropdown-item" href="/providers/hosting/"><span class="fas fa-database fa-fw"></span> 호스팅</a>
            <a class="dropdown-item" href="/providers/paste/"><span class="fas fa-paste fa-fw"></span> 페이스트빈</a>
            <a class="dropdown-item" href="/providers/search-engines/"><span class="fas fa-search fa-fw"></span> 검색 엔진</a>
            <a class="dropdown-item" href="/providers/social-networks/"><span class="fas fa-expand-arrows-alt fa-fw"></span> SNS</a>
            <a class="dropdown-item" href="/providers/social-news-aggregator/"><span class="far fa-newspaper fa-fw"></span> 소셜 뉴스 </a>
            <a class="dropdown-item" href="/providers/video/"><span class="fas fa-video fa-fw"></span> 영상 플랫폼</a>
            <a class="dropdown-item" href="/providers/vpn/"><span class="far fa-eye-slash fa-fw"></span> VPN</a>
          </span>
        </details>

        <!-- Browser -->
        <details class="nav-details">
          <summary>
            <span class="nav-summary">
              브라우저
              <span class="dropdown-toggle"></span>
            </span>
          </summary>
          <span class="nav-dropdown">
            <a class="dropdown-item" href="/browsers/#browser"><span class="fas fa-check fa-fw"></span> 추천</a>
            <a class="dropdown-item" href="/browsers/#fingerprint"><span class="fas fa-fingerprint fa-fw"></span> 지문 정보</a>
            <a class="dropdown-item" href="/browsers/#webrtc"><span class="far fa-eye fa-fw"></span> WebRTC IP 유출</a>
            <a class="dropdown-item" href="/browsers/#addons"><span class="far fa-list-alt fa-fw"></span> 브라우저 확장 프로그램</a>
            <a class="dropdown-item" href="/browsers/#about_config"><span class="fas fa-wrench fa-fw"></span> Firefox 트윅</a>
          </span>
        </details>

        <!-- Software -->
        <details class="nav-details">
          <summary>
            <span class="nav-summary">
              소프트웨어
              <span class="dropdown-toggle"></span>
            </span>
          </summary>
          <span class="nav-dropdown">
            <a class="dropdown-item" href="/software/calendar-contacts/"><span class="fas fa-calendar fa-fw"></span> 달력/주소록 연동</a>
            <a class="dropdown-item" href="/software/notebooks/"><span class="far fa-sticky-note fa-fw"></span> 전자 메모장</a>
            <a class="dropdown-item" href="/software/email/"><span class="fas fa-envelope fa-fw"></span> 전자메일 클라이언트</a>
            <a class="dropdown-item" href="/software/encryption-tools/"><span class="fas fa-lock fa-fw"></span> 파일 암호화</a>
            <a class="dropdown-item" href="/software/file-sharing/"><span class="fas fa-file-export fa-fw"></span> 파일 공유</a>
            <a class="dropdown-item" href="/software/file-sync/"><span class="fas fa-copy fa-fw"></span> 파일 연동</a>
            <a class="dropdown-item" href="/software/productivity/#metadata-removal-tools"><span class="far fa-eye-slash fa-fw"></span> 메타데이터 제거 도구</a>
            <a class="dropdown-item" href="/software/passwords/"><span class="fas fa-user-lock fa-fw"></span> 비밀번호 관리 도구</a>
            <a class="dropdown-item" href="/software/productivity/"><span class="fas fa-briefcase fa-fw"></span> 생산성</a>
            <a class="dropdown-item" href="/software/real-time-communication/"><span class="fas fa-comments fa-fw"></span> 실시간 대화</a>
            <a class="dropdown-item" href="/software/networks/"><span class="fas fa-user-secret fa-fw"></span> Self-contained Networks</a>
            <a class="dropdown-item" href="/software/cloud/"><span class="fas fa-hdd fa-fw"></span> 직접 호스팅 클라우드 서버</a>
          </span>
        </details>

        <!-- OS -->
        <details class="nav-details">
          <summary>
            <span class="nav-summary">
              운영체제
              <span class="dropdown-toggle"></span>
            </span>
          </summary>
          <span class="nav-dropdown">
            <a class="dropdown-item" href="/operating-systems"><span class="fas fa-th-large fa-fw"></span> PC 운영체제</a>
            <a class="dropdown-item" href="/operating-systems/#tor_os"><span class="ptio-tor"></span> Tor 중점 배포판</a>
            <a class="dropdown-item" href="/operating-systems/#mobile_os"><span class="fas fa-mobile-alt fa-fw"></span> 모바일 운영체제</a>
            <a class="dropdown-item" href="/operating-systems/#aaddons"><span class="fas fa-th fa-fw"></span> Android 프라이버시 애드온</a>
            <a class="dropdown-item" href="/operating-systems/#firmware"><span class="fas fa-signal fa-fw"></span> 공유기 펌웨어</a>
            <a class="dropdown-item" href="/operating-systems/#win10"><span class="far fa-thumbs-down fa-fw"></span> Windows 10 쓰지 마세요!</a>
          </span>
        </details>

        <a class="nav-anchor" href="/index.html#participate">참여하기</a>
      </div>

      <!-- Language -->
      <div id="nav-right">

        <a href="/services/" class="nav-anchor">
          서비스
        </a>
        <a href="https://blog.privacytools.io/" class="nav-anchor">
          블로그
        </a>
        <a href="/sponsors/" class="nav-anchor">
          스폰서
        </a>
        <a href="/about/" class="nav-anchor">
          저희에 대하여
        </a>{% unless page.url == '/sponsors/' %}
        <span id="nav-switch-theme" class="nav-anchor">
          <span class="nav-theme-icon fas fa-fw" aria-hidden="true" title="테마"></span>
          <span class="sr-only">테마 변경</span>
        </span>

        <details class="nav-details">
          <summary>
            <span class="nav-summary">
              <span class="fas fa-language text-danger fa-fw" aria-hidden="true" title="언어"></span>
              <span class="sr-only">언어 선택</span>
              <span class="dropdown-toggle"></span>
            </span>
          </summary>
          <span class="nav-dropdown">
            <a href="https://www.privacytools.io/" class="dropdown-item">English 영어</a>
            <a href="https://privacytools.twngo.xyz/" rel="nofollow noopener" class="dropdown-item">繁體中文</a>
            <a href="https://victorhck.gitlab.io/privacytools-es/" rel="nofollow noopener" class="dropdown-item">Español</a>
            <a href="https://pl.privacytools.io/" rel="nofollow noopener" class="dropdown-item">Polski</a>
            <a href="https://www.privacidade.digital/" rel="nofollow noopener" class="dropdown-item">Português</a>
            <a href="https://privacytools.it-sec.rocks/" rel="nofollow noopener" class="dropdown-item">Deutsch</a>
            <a href="https://privacytools-it.github.io/" rel="nofollow noopener" class="dropdown-item">Italiano</a>
            <a href="https://privacytools.ru" rel="nofollow noopener" class="dropdown-item">Русский</a>
            <a href="https://privacytools.dreads-unlock.fr" rel="nofollow noopener" class="dropdown-item">Français</a>
          </span>
        </details>{% endunless %}
      </div>
    </div>
  </div>
</nav>
